<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Notes PoC</title>
    {{template "style" .}}
</head>
<body>
    <div class="container">
        <h1>My Notes</h1>

        <h2>Create a New Note</h2>
        <form action="/notes/create" method="POST" class="note-form">
            <div>
                <label for="content">Content:</label><br>
                <textarea id="content" name="content" rows="5" required></textarea><br><br>
            </div>
            <div>
                <label for="keywords">Keywords (comma-separated):</label><br>
                <input id="keywords" name="keywords" type="text"><br><br>
            </div>
            <button type="submit">Save Note</button>
        </form>

        <div class="keywords-list">
            <b>Show notes for keyword:</b>
            {{range .Keywords}}
              <a href="/keyword/{{.Name}}" class="note-keyword">{{.Name}}</a>
            {{end}}
            <a href="/keywords" style="padding-left:10px;">All keywords</a>
        </div>

        <h2>Existing Notes</h2>
        {{if .Notes}}
            <ul>
                {{range .Notes}}
                    <li>
                        <a href="/notes/{{.Note.ID}}">{{shorten .Note.Content}}</a>
                        <small>Created: {{.Note.CreatedAt.Format "2006-01-02 15:04"}}</small><br>
                        {{if .Keywords}}
                        <div class="note-keywords">Nøkkelord:
                            {{range $i, $k := .Keywords}}
                                <a href="/keyword/{{$k.Name}}" class="note-keyword">{{$k.Name}}</a>
                            {{end}}
                        </div>
                        {{end}}
                    </li>
                {{end}}
            </ul>
        {{else}}
            <p>No notes yet. Create one above!</p>
        {{end}}
    </div>
</body>
</html>

